.pagination {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
	/*background-color: red;*/
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.active {
	border: none;
	font-size: 24px;
	background-color: transparent;
}
.arrow,
.pageNumber {
	cursor: pointer;
	border: none;
	background-color: white;
	font-size: 24px;
	font-weight: bold;
}

.arrow:disabled,
.pageNumber:disabled {
	font-size: 24px;
	color: grey;
	cursor: default;
	background-color: transparent;
}
