.wrapper {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.wrapperCategories {
	display: flex;
	/*flex-direction: row;*/
	align-items: flex-start;
	box-sizing: border-box;
	/*justify-content: start;*/
	gap: 8px;
	width: 100%;
	overflow-x: auto; /* Включаем горизонтальную прокрутку */
	white-space: nowrap; /* Запрещаем перенос кнопок на следующую строку */
	/*padding: 8px 0; !* Опционально: отступы для улучшения вида *!*/
	scroll-behavior: smooth; /* Плавная прокрутка */
	-webkit-overflow-scrolling: touch; /* Плавная прокрутка на iOS */
}

/* скрыть полосу прокрутки */
.wrapperCategories::-webkit-scrollbar {
	display: none; /* Скрыть полосу для WebKit-браузеров */
}

.wrapperCategories {
	-ms-overflow-style: none; /* Скрыть полосу для IE и Edge */
	scrollbar-width: none; /* Скрыть полосу для Firefox */
}

.categoryButton,
.categoryButtonSkeleton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: #090a0a;
	background-color: #f2f4f5;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 50px;
	text-transform: capitalize;
	flex-shrink: 0; /* Запрещаем сжатие */
	min-width: 20px; /* Минимальная ширина для видимости */
	height: 40px; /* Фиксированная высота для единообразия */
}
.isActiveCategory {
	background-color: #e7e7ff;
	color: #6b4eff;
}

.categoryButtonSkeleton {
	background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
	background-size: 400% 400%;
	animation: pulse 1.2s ease-in-out infinite;
}
@keyframes pulse {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -135% 0%;
	}
}
